* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background: white;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
}



h1, h2, h3, h4{
    margin: 5px;
}

p{
    font-size: 17px;
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color: #228B22;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.btn {
    padding: .5rem 1rem;
    background: #228B22;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn:hover{
    color: white !important;
    background: #228B22;
}

.text-input{
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border: 1px solid lightgreen;
    border-radius: 5px;
    outline: none;
    color: blue;
    line-height: 1.5rem;
    font-size: 1.1em;
    
}

.nav-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #228B22;
    
    
}

.nav-sections .nav-links{
    display: inline-block;
    
}

.nav-sections .nav-links h2{
    margin-left: 95px;
    padding: 0px;
    color: white;
    font-size: 35px;
}

.nav-sections .nav-links p{
    margin-left: 110px;
    color: white;
}

.nav-sections .nav-links li{
    display: inline-block;
    padding-right: 10px;
    
}

.nav-sections .nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    
}

.btn.logout-btn{
    background: transparent;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
}

.btn.logout-btn:hover{
    color: lightgreen;
}


h1{
    padding-right: 70px;
    padding-bottom: 15px;
}


.about{
    
    
    text-align: center;
    padding-bottom: 100px;
}

.about h2{
    padding-bottom: 10px;
    font-weight: 700;
}

.about-text {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
}

.about-text p{
    font-size: 25px;
    
}

.about-left img{
    width: 100%;
    height: auto;
}

.content{
    width: 90%;
    margin: 30px auto 30px;
    
}

.content .main-content{
    width: 70%;
    float: left;
    
}

.post-content li{
    font-size: 15px;
    
}

.content .main-content.single{
    background: white;
    padding: 20px 50px;
    font-size: 1.1rem;
}

.content .main-content.single .post-title{
    text-align: center;
    margin-bottom: 40px;
}

.content .main-content.single .post-image img{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}



.content .main-content .recent-posts-title{
    margin: 20px;
}

.content .main-content .post{
    width: 95%;
    height: 270px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content .section-popular{
    background: white;
    padding-top: 10px;
    margin-bottom: 10px;
}

.content .section-popular .post {
    border-top: 1px solid #e0e0e0;
    margin: 0px 20px;
    margin-top: 10px;
    padding-top: 10px;
}

.section-popular .section-title {
    padding-left: 20px;
}

.content .section-popular .post img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.content .main-content .post .read-more{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #228B22;
    background: transparent;
    border-radius: 0px;
    color: #228B22 ;
}

.content .main-content .post .read-more:hover{
    background: #228B22;
    color: white;
    transition: .25s
}

.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
}

.content .main-content .post .post-preview{
    padding: 10px;
    width: 60%;
    float: right;
}

.content .sidebar {
    width: 30%;
    float: left;
    height: 800px;
}

.content .sidebar.single{
    padding: 0px 10px;
}

.content .sidebar form{
    padding-bottom: 10px;
}

.content .sidebar .section{
    background: white;
    padding-left: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.content .sidebar .section.search{
    margin-top: 95px;
    padding: 20px;
}

.content .sidebar .section.topics{
    padding: 20px;
}

.content .sidebar .section.topics ul{
    border-top: 1px solid #e0e0e0;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.content .sidebar .section.topics ul a{
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding: 15px 0px 15px 0px;
    transition: .5s;
}

.content .sidebar .section-popular ul a{
    padding: 15px 0px 15px 0px;
}

.content .sidebar .section.topics ul a:hover{
    padding-left: 8px;
    transition: .5s;
}

/* POST SLIDER */

.post-slider {
    position: relative;
}

.post-slider .next{
    position: absolute;
    right: 110px;
    top: 75px;
    font-size: 18px;
}

.post-slider .prev{
    position: absolute;
    right: 130px;
    top: 75px;
    font-size: 18px;
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
}

.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px;
}

.post-slider .post-wrapper .pos{
    display: inline-block;
    width: 300px;
    height: 350px;
    display: inline-block;
    margin: 0px 10px;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033; 
    background: white;
}

.post-slider .post-wrapper .pos .post-info{
    background: white;
    text-align: center;
    height: 130px;
    padding: 0px 5px;
    
}


.post-slider .post-wrapper .pos .slider-img {
    width: 100%;
    height: 210px;
}

/***ERRORS***/






/**********FOOTER********/
.footer{
    background-color: black;
}

.footer .footer-bottom{
    background-color: black;
    color: white;
    
    
    
}

.nav-links.logo .resp ul{
    display: inline-block;
    
}


.nav-links.logo li{
    color: white;
      
}
.nav-links.logo .resp{
    margin-left: 70px;
}

.nav-sections .nav-links h1{
    
}


/******RESPONSIVE*****/




/**NavBar**/

@media only screen and (max-width: 750px) {
    
    .nav-sections .nav-links ul{
        display: none;
    }
    .nav-sections .nav-links h2{
    margin-left: 40px;
    padding: 0px;
    color: white;
    font-size: 35px;
}
    
    .nav-sections .nav-links p{
    margin-left: 55px;
    color: white;
}
    .row{
    margin-right: 0px;
    margin-left: 0px;
}
    
    
    
}

@media only screen and (min-width: 750px){
    .nav-sections {
        padding-bottom: 0px;
        height: 100px;
    }
    .nav-sections h2{
        margin-top: 20px;
    }
    
    .nav-links.logo {
        color: white; 
        margin-right: 115px;
        
    }
    
    .nav-links.logo a  {
        display: none;
        
    }
    .nav-links.logo button {
        display: none;
        
    }
    .nav-links.logo .resp{
        margin-left: px;
    }
    
    .nav-sections .nav-links .topp{
    padding-left: 55px
}
}

@media only screen and (max-width: 440){
    
}


@media only screen and (max-width: 934px) {
    .content{
        width: 100%;
    }
    
    .content .main-content {
        width: 100%;
    }
    
    .content .sidebar {
        width: 100%;
    }
    
    .content .sidebar .section.search {
        margin-top: 30px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .content .main-content .post .post-image {
        width: 100%;
        height: 300px;
        
    }
    
    .content .main-content .post .post-preview {
        width: 100%;
        
        
    }
    
    .content .main-content .post {
        height: auto;
        width: 100%;
    }
    
    .content .main-content .post .read-more {
        position: static;
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .post-slider .post-wrapper .pos .slider-img{
    height: 180px;
}
    
}